/* This is a hacky copy of some CSS from my site, clayto.com */

.pbp-article-list {
    margin: 27px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(480px,1fr));
    grid-auto-rows: auto;
    grid-gap: 27px;
    align-items: start;
}
@media (max-width:500px) {
    .pbp-article-list {
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
    }
}
.pbp-article-li {
    /* display: grid; */
    /* grid-template-columns: minmax(200px,1fr) 2fr; */
    /* grid-template-rows: auto 1fr auto; */
    grid-gap: 12px;
    height: 100%;
}
@media (max-width:500px) {
    .pbp-article-li {
        margin-bottom: 36px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        padding-top: 0;
    }
    .pbp-article-li .pbp-article-thumbnail {
        width: 100%;
    }
}
.pbp-article-li .pbp-article-thumbnail {
    margin: 0;
}
.pbp-article-li:last-child {
    margin-bottom: 0;
}
.glass-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,.4),0 1px 10px rgba(0,0,0,.2);
}
.glass-card .glass-card-ratio {
    padding-top: 80%;
    position: relative;
}
.glass-card .glass-card-ratio .glass-card-link {
    z-index: 20;
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
}
.glass-card .glass-card-ratio .glass-card-title {
    color: #f1f1f1;
    position: absolute;
    z-index: 10;
    bottom: 8px;
    left: 8px;
    right: 8px;
    font-family: Overpass,sans-serif;
    font-size: 23.4px;
    margin: 0;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}
.glass-card .glass-card-ratio .glass-card-title::after {
    z-index: -1;
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0,0,0,.75);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.55);
}
.glass-card .glass-card-ratio .glass-card-border-outer {
    z-index: 10;
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    border: 2px solid #000;
}
.glass-card .glass-card-ratio .glass-card-border-outer:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(255,255,255,.1);
}
.glass-card .glass-card-ratio .glass-card-border-inner {
    z-index: 15;
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    mix-blend-mode: soft-light;
    border: 3px solid #fff;
    opacity: 0.4;
    transition: opacity linear 40ms;
}
.glass-card .glass-card-ratio .glass-card-bg {
    z-index: 1;
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
    transition: transform ease-out 0.3s;
}
.glass-card .glass-card-ratio:hover .glass-card-border-inner {
    opacity: 0.9;
}
