<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Command Line Heroes ARCADE</title>
        <link rel="stylesheet" href="list.css">
    </head>
    <body>
        <div id="arcade-list-container">

            <div class="pbp-article-list">

                <div class="pbp-article-li" v-for="game in games">
                    <a v-if="game.thumb" tabindex="-1" class="pbp-article-thumbnail" v-on:click="nav" v-bind:data-href="game.path">
                        <div class="pbp-article-thumbnail">
                            <div class="glass-card">
                                <div class="glass-card-ratio">
                                    <img class="glass-card-bg glass-card-bg-default" v-bind:src="game.thumb">
                                    <div class="glass-card-border-outer"></div>
                                    <div class="glass-card-border-inner"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div v-else class="msg" v-html="game.msg">
                        <div class="glass-card-ratio"></div>
                    </div>
                </div>

            </div>

        </div>
        <script type=module src="list.js"></script>
    </body>
</html>

