.shimmer {
    overflow: hidden;
    text-align: center;
    color: rgba(255,255,255,0.5);
    background: -webkit-gradient(linear, left top, right top, from(#222222ee), to(#222222ee), color-stop(0.5, #ffffffee));
    background: -moz-gradient(linear, left top, right top, from(#222222ee), to(#222222ee), color-stop(0.5, #ffffffee));
    background: gradient(linear, left top, right top, from(#222222ee), to(#222222ee), color-stop(0.5, #ffffffee));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 6s;
    -moz-animation-duration: 6s;
    animation-duration: 6s;
    /* -webkit-animation-direction: backwards; */
    /* -moz-animation-direction: backwards; */
    /* animation-direction: backwards; */
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}
/* @-moz-keyframes shimmer { */
/*     0% { */
/*         background-position: top left; */
/*     } */
/*     100% { */
/*         background-position: top right; */
/*     } */
/* } */
/* @-webkit-keyframes shimmer { */
/*     0% { */
/*         background-position: top left; */
/*     } */
/*     100% { */
/*         background-position: top right; */
/*     } */
/* } */
/* @-o-keyframes shimmer { */
/*     0% { */
/*         background-position: top left; */
/*     } */
/*     100% { */
/*         background-position: top right; */
/*     } */
/* } */
@keyframes shimmer {
    0% {
        background-position: 4400% 0%;
    }
    100% {
        background-position: -200% 0% ;
    }
}

